name: Caliptra-SS CI

on:
  push:
    branches: ["main", "page-ci/86827_caliptra-ss-ci"]
  pull_request:
  workflow_dispatch:

jobs:

  caliptra-ss-tests:
    name: Run tests
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools
    timeout-minutes: 420
    env:
      GHA_EXTERNAL_DISK: caliptra-i3c-tools
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    strategy:
      matrix:
        AWK_FILTER:
          - "/^smoke_test_mci_soc_config_diff_mcu$/"
          - "/^smoke_test_mci_soc_config_always_enable$/"
      fail-fast: false
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Get tools
        run: _secret_custom_get_tools_v2:4
        env:
          KEYS: "${{ secrets.KEYS }}"

      - name: Perform tests
        run: _secret_caliptra_ss_test:18
        env:
          AWK_FILTER: ${{ matrix.AWK_FILTER }}
          SIMULATION_TIMEOUT: "300m"

  caliptra-ss-coverage-aggregator:
    name: Aggregate coverage results
    if: ${{ !cancelled() }}
    needs: [ caliptra-ss-tests ]
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools
    env:
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Aggregate coverage
        run: _secret_caliptra_ss_aggregate_results:18

  caliptra-ss-docs-builder:
    name: Build docs
    if: ${{ !cancelled() }}
    needs: [ caliptra-ss-coverage-aggregator ]
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools
    env:
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Build docs
        run: _secret_caliptra_ss_docs:7

      - name: Upload artifacts
        run: _secret_custom_upload_artifact:8
        env:
          INPUT_NAME: static_dashboard
          INPUT_PATH: .github/scripts/resources/docs/dashboard.tar.gz

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/page-ci/86827_caliptra-ss-ci' || github.event_name == 'pull_request' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .github/scripts/resources/docs/build/html
          force_orphan: true
