name: Caliptra-SS CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:

  caliptra-ss-tests:
    name: Run tests
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools:slim
    timeout-minutes: 420
    env:
      GHA_EXTERNAL_DISK: caliptra-i3c-tools
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    strategy:
      matrix:
        AWK_FILTER:
          - "/^caliptra_ss_fuse_ctrl_axi_id$/"
          - "/^caliptra_ss_fuse_ctrl_bus_ecc_error$/"
          - "/^caliptra_ss_fuse_ctrl_escalation$/"
          - "/^caliptra_ss_fuse_ctrl_external_clock$/"
          - "/^caliptra_ss_fuse_ctrl_integrity_check$/"
          - "/^caliptra_ss_fuse_ctrl_interrupts$/"
          - "/^caliptra_ss_fuse_ctrl_manuf_prod_prov$/"
          - "/^caliptra_ss_fuse_ctrl_read_lock$/"
          - "/^caliptra_ss_fuse_ctrl_registers$/"
          - "/^caliptra_ss_fuse_ctrl_unexpected_reset$/"
          - "/^caliptra_ss_fuse_ctrl_volatile_lock$/"
          - "/^caliptra_ss_fuse_ctrl_writeblank$/"
          - "/^caliptra_ss_fuse_ctrl_zeroization$/"
          - "/^caliptra_ss_fuse_ctrl_zeroization_corrupt$/"
          - "/^caliptra_ss_fuse_ctrl_zeroization_reset$/"
          - "/^caliptra_ss_lcc_alert$/"
          - "/^caliptra_ss_lcc_clock_bypass$/"
          - "/^caliptra_ss_lcc_escalation$/"
          - "/^caliptra_ss_lcc_otp_prog_error$/"
          - "/^caliptra_ss_lcc_st_trans$/"
          - "/^caliptra_ss_lcc_st_trans_invalid_state$/"
          - "/^caliptra_ss_lcc_st_trans_invalid_token$/"
          - "/^caliptra_ss_lcc_st_trans_max_cnt$/"
          - "/^caliptra_ss_lcc_st_trans_scrap_no_ppd_pin$/"
          - "/^caliptra_ss_lcc_volatile_unlock$/"
          - "/^caliptra_ss_mcu_sram_to_sha$/"
          - "/^mci_ro_reg_rand_test$/"
          - "/^mcu_cptra_bringup$/"
          - "/^mcu_hello_world$/"
          - "/^mcu_i3c_reg_rd_wr_cptra_i3c_strap$/"
          - "/^mcu_intr_handler$/"
          - "/^mcu_lmem_exe$/"
          - "/^mcu_mbox_lock_return_one_during_zeroize$/"
          - "/^mcu_mbox_rand_rdwr$/"
          - "/^mcu_mctp_smoke_test$/"
          - "/^mcu_set_mci_cacheable$/"
          - "/^mcu_test_rom_i3c_setmrl$/"
          - "/^mcu_test_rom_i3c_streaming_boot$/"
          - "/^smoke_test_abr_keygen_sign$/"
          - "/^smoke_test_error_handling$/"
          - "/^smoke_test_fc_cptra_zeroization$/"
          - "/^smoke_test_fc_debug_unlock_token$/"
          - "/^smoke_test_fc_filter_rule_OOO_exec$/"
          - "/^smoke_test_fc_filter_rule_secret_read$/"
          - "/^smoke_test_fc_key_revocation$/"
          - "/^smoke_test_fc_mcu_uds_fe_zeroization$/"
          - "/^smoke_test_fc_ocp_lock_zeroization$/"
          - "/^smoke_test_fc_partition_write_zeroize$/"
          - "/^smoke_test_fc_pk_volatile_lock$/"
          - "/^smoke_test_fc_prov_lcc_tokens$/"
          - "/^smoke_test_fc_random_item_prov$/"
          - "/^smoke_test_fc_ratchet_seed_lock_en$/"
          - "/^smoke_test_fc_ratchet_seed_write_read$/"
          - "/^smoke_test_fc_registers$/"
          - "/^smoke_test_lcc_kmac_kat$/"
          - "/^smoke_test_lcc_raw_non_zero_counter$/"
          - "/^smoke_test_lcc_raw_wrong_token$/"
          - "/^smoke_test_lcc_registers$/"
          - "/^smoke_test_lcc_RMA$/"
          - "/^smoke_test_lcc_scrap$/"
          - "/^smoke_test_lcc_st_trans$/"
          - "/^smoke_test_mbox_csr_zeros_after_release$/"
          - "/^smoke_test_mci_axi_miss$/"
          - "/^smoke_test_mci_brkpoint_axi$/"
          - "/^smoke_test_mci_prod_dbg$/"
          - "/^smoke_test_mci_soc_config_always_enable$/"
          - "/^smoke_test_mci_soc_config_diff_mcu$/"
          - "/^smoke_test_mci_soc_config_disable$/"
          - "/^smoke_test_mcu_hitless$/"
          - "/^smoke_test_mcu_mbox_burst$/"
          - "/^smoke_test_mcu_mbox_csrs_warm_rst$/"
          - "/^smoke_test_mcu_mbox_ecc$/"
          - "/^smoke_test_mcu_mbox_invalid_axi$/"
          - "/^smoke_test_mcu_mbox_strb_wr_csr$/"
          - "/^smoke_test_mcu_mbox_target_user$/"
          - "/^smoke_test_mcu_mbox_usr_lock_out_zero$/"
          - "/^smoke_test_mcu_mbox_valid_user$/"
          - "/^smoke_test_mcu_mbox_write_user_lock$/"
          - "/^smoke_test_mcu_mbox_zeroize$/"
          - "/^smoke_test_mcu_no_rom_config$/"
          - "/^smoke_test_mcu_sram_byte_write$/"
          - "/^smoke_test_mcu_sram_ecc_db$/"
          - "/^smoke_test_mcu_sram_ecc_sb$/"
          - "/^smoke_test_mcu_sram_execution_region$/"
          - "/^smoke_test_mcu_sram_protected_region$/"
          - "/^smoke_test_mcu_trace_buffer$/"
          - "/^smoke_test_mcu_trace_buffer_no_debug$/"
          - "/^smoke_test_wdt$/"
          - "/^smoke_test_wdt_rst$/"
          - "/^mcu_prod_rom_axi_streaming_boot$/"
          - "/^smoke_test_fc_secret_prog_in_dbg$/"

          # Unstable tests
          - "/^caliptra_ss_fuse_ctrl_init_fail$/"
          - "/^mcu_axi_streaming_boot_test_rom$/"
          - "/^mcu_test_rom_i3c_reg_rd_wr$/"
          - "/^smoke_test_fc_ratchet_seed_volatile_lock$/"
          - "/^smoke_test_fc_secret_partition_zeroization$/"
          - "/^caliptra_ss_jtag_lcc_st_trans$/"
          - "/^caliptra_ss_lcc_st_trans_rma_no_ppd_pin$/"
          - "/^mci_err_intr_reg_rand_test$/"
          - "/^mci_pk_hash_reg_rand_test$/"
          - "/^mci_reg_rand_test$/"
          - "/^mcu_prod_rom_i3c_streaming_boot$/"
          - "/^mcu_test_rom_i3c_rand_streaming_boot$/"
          - "/^mcu_test_rom_i3c_streaming_boot_sram$/"
          - "/^smoke_test_fc_filter_rule_uds_fe$/"
          - "/^smoke_test_mcu_mbox$/"
          - "/^smoke_test_mcu_mbox_pass_data$/"
          - "/^smoke_test_mcu_sram_debug_stress$/"

          # Failing
          - "/^smoke_test_jtag_uds_prog$/"
          - "/^smoke_test_jtag_lcc_registers$/"
          - "/^smoke_test_fuse_prov_with_axi_id$/"
          - "/^smoke_test_fuse_zeroize$/"
          - "/^caliptra_ss_jtag_manuf_dbg$/"
          - "/^caliptra_ss_jtag_uds_prog$/"
          - "/^caliptra_ss_fuse_ctrl_test_unlocked0_prov$/"

          # Compilation error, missing files
          - "/^smoke_test_jtag_mcu_bp$/"
          - "/^smoke_test_jtag_mcu_intent$/"
          - "/^smoke_test_jtag_mcu_sram$/"
          - "/^smoke_test_jtag_mcu_unlock$/"

          # Malformed YAML
          - "/^smoke_test_jtag_prod_dbg$/"
          - "/^smoke_test_jtag_manuf_dbg$/"

          # Linker error
          - "/^caliptra_ss_lcc_errors$/"

          # Compile error
          - "/^caliptra_ss_lcc_volatile_unlock_wrong_state$/"
          - "/^caliptra_ss_lcc_volatile_unlock_wrong_token$/"
          - "/^smoke_test_fc_unlock_transitions$/"

          - "/^smoke_test_mci_manuf_dbg$/"

          # These tests are known to be broken
          - "/^smoke_test_mcu_mbox_axi_param$/"
          - "/^smoke_test_mcu_mbox_instantiation$/"

          # These have no YAML files in their directories
          - "/^cptra_fw_test_rom$/"
          - "/^cptra_test_i3c_reg_rd_wr$/"
          - "/^cptra_test_i3c_reg_rd_wr_strap$/"
          - "/^cptra_test_rom_streaming_boot$/"
          - "/^cptra_test_rom_streaming_boot_mcu_sram$/"
      fail-fast: false
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Get tools
        run: _secret_custom_get_tools_v2:4
        env:
          KEYS: "${{ secrets.KEYS }}"

      - name: Perform tests
        run: _secret_caliptra_ss_test:18
        env:
          AWK_FILTER: ${{ matrix.AWK_FILTER }}
          SIMULATION_TIMEOUT: "300m"

  caliptra-ss-coverage-aggregator:
    name: Aggregate coverage results
    if: ${{ !cancelled() }}
    needs: [ caliptra-ss-tests ]
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools:slim
    env:
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Aggregate coverage
        run: _secret_caliptra_ss_aggregate_results:18

  caliptra-ss-docs-builder:
    name: Build docs
    if: ${{ !cancelled() }}
    needs: [ caliptra-ss-coverage-aggregator ]
    runs-on: [ self-hosted, Linux, X64, gcp-custom-runners ]
    container: antmicro/centos-dev-tools:slim
    env:
      GHA_SA: gh-sa-caliptra-ss-ci-uploader
    steps:
      - name: Get repository
        run: _secret_custom_checkout:9
        env:
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_SUBMODULES: RECURSIVE

      - name: Build docs
        run: _secret_caliptra_ss_docs:7

      - name: Upload artifacts
        run: _secret_custom_upload_artifact:8
        env:
          INPUT_NAME: static_dashboard
          INPUT_PATH: .github/scripts/resources/docs/dashboard.tar.gz
